
<input type="radio" name="font-library"  class="btn-check" id="@Id" autocomplete="off" checked="@IsSelected"/>
<label class="btn btn-outline-light btn-sm text-start" for="@Id">
    @ChildContent
</label>