
<input type="radio" name="font-library"  class="btn-check" id="@Id" autocomplete="off" checked="@IsSelected" @onchange="HandleChange"/>
<label class="btn btn-outline-secondary btn-sm text-start" for="@Id">
    @ChildContent
</label>