@page "/"

<PageTitle>Index</PageTitle>

<div><Blazicon Svg="MdiIcon.VectorSquare"></Blazicon> Material Design Icons</div>
<div><Blazicon Svg="FontAwesomeSolidIcon.FontAwesome"></Blazicon> Font Awesome</div>
<div><Blazicon Svg="BootstrapIcon.BootstrapFill"></Blazicon> Bootstrap</div>
<div><Blazicon Svg="GoogleMaterialFilledIcon.DesignServices"></Blazicon> Google Material Design</div>
<div><Blazicon Svg="Ionicon.LogoIonic"></Blazicon> Ionicons</div>
<div><Blazicon Svg="FluentUiFilledIcon.Fluent"></Blazicon> Fluent UI</div>