@page "/"

<PageTitle>Index</PageTitle>

<div><Blazicon Svg="MdiIcon.VectorSquare"></Blazicon> Material Design Icons</div>
<div><Blazicon Svg="FontAwesomeSolidIcon.FontAwesome"></Blazicon> Font Awesome</div>
<div><Blazicon Svg="BootstrapIcon.BootstrapFill"></Blazicon> Bootstrap</div>
<div><Blazicon Svg="GoogleMaterialFilledIcon.DesignServices"></Blazicon> Google Material Design</div>
<div><Blazicon Svg="Ionicon.LogoIonic"></Blazicon> Ionicons</div>
<div><Blazicon Svg="FluentUiFilledIcon.Fluent"></Blazicon> Fluent UI</div>

<EditForm Model="Search">
    <label for="SearchQuery" class="form-label">Search</label>
    <input id="SearchQuery" class="form-control" @bind-value="@Search.Query" @bind-value:event="oninput"></input>
</EditForm>

<div class="row icons-area">
    <Virtualize Items="FilteredIcons" Context="icon">
        <div class="icon-tile col-lg-1 col-md-2 col-sm-3 mb-3 text-center">
            <div style="font-size: 300%"><Blazicon Svg="icon.Value" style="vertical-align:bottom"></Blazicon></div>
            <span class="text-muted small">@icon.Key</span>
        </div>
    </Virtualize>
@*    @foreach (var icon in FilteredIcons)
    {
        <div class="icon-tile col-lg-1 col-md-2 col-sm-3 mb-3 text-center">
            <div style="font-size: 300%"><Blazicon Svg="@icon.Value" style="vertical-align:bottom"></Blazicon></div>
            <span class="text-muted small">@icon.Key</span>
        </div>
    }*@
</div>